body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    color: black;
    background-image: url("imagemfundo.avif"); /* a imagem deve estar na mesma pasta */
    background-repeat: no-repeat;
    background-size: cover;         /* cobre toda a tela */
    background-position: center;    /* centraliza a imagem */
    background-attachment: fixed;   /* fixa a imagem no fundo */
}

h1 {
    margin: 20px 0;
}

#toolbar {
    margin-bottom: 10px;
}

#colorPicker {
    margin-right: 10px;
}

#brushSize {
    margin: 0 10px;
}

canvas {
    border: 2px solid #333;
    background-color: white;
    cursor: crosshair;
    touch-action: none; /* evita scroll no touch */
}

button {
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #ddd;
}

button#eraserBtn.active {
    background-color: rgb(228, 148, 252);
    color: white;
}
