body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    color: black;
    background-image: url(imagemfundo.avif);
  }
  
  h1 {
    margin: 20px 0;
  }
  
  #toolbar {
    margin-bottom: 10px;
  }
  
  #colorPicker {
    margin-right: 10px;
  }
  
  #brushSize {
    margin: 0 10px;
  }
  
  canvas {
    border: 2px solid #333;
    background-color: white;
    cursor: crosshair;
    touch-action: none; /* evita scroll no touch */
  }
  
  button {
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  button#eraserBtn.active {
    background-color: red;
    color: white;
  }
  